:root{
    --Y:0deg;
    --BY:-180deg;
}
body{
    background-image: url("BG.jpg");
}
.back{  
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;

}
#img{
    position: absolute;
    

}
#imgB{
    margin-top: 100px;
    position: absolute;
}
.frame-front,.frame-back{
    margin: auto;
    
    position:absolute;
    backface-visibility: hidden;
    transition:transform.40s ease-in-out;

}
.frame-front{
    transform: rotateY(var(--Y));
}
.frame-back{
    transform: rotateY(var(--BY));
}
@media(max-width:600px){
    .frame-front,.frame-back{
    margin: auto;
    width:100%;
    heigh:100%;
    position:absolute;
    backface-visibility: hidden;
    transition:transform.40s ease-in-out;

}

